.chat-item {
  width: 100%;
  height: 80px;
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  display: flex;

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #EFEFEF;
  }

  &__body {
    margin-left: 10px;
  }

  &__meta {
    margin-left: auto;
  }

  &__name {
    margin: 0;
  }
}
