.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fields {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
  }

  &__actions {
    width: 280px;
    margin-top: 50px;
  }
}
