.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fields {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    :first-child {
      border-top: none;
    }
  }

  &__submit {
    margin-top: 40px;
  }
}
